$price-tag-background: #ff0000;
$price-tag-color: #fff;
$price-tag-height: 20px;
$price-tag-corner: 4px;
$price-tag-dot-radius: 6px;
$price-tag-dot-background: #fff;

.price-tag {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
  display: inline-flex;
  flex-direction: column;
  height: $price-tag-height;
  margin-left: $price-tag-height / 2;
  padding: 0 5px 0 10px;
  color: $price-tag-color;
  border-radius: 0 $price-tag-corner $price-tag-corner 0;
  background-color: $price-tag-background;
  line-height: 1;
  justify-content: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    $price-tag-side: round($price-tag-height / 1.428);

    left: -$price-tag-side / 2;
    width: $price-tag-side;
    height: $price-tag-side;
    transform: rotate(45deg);
    border-radius: 0 0 0 $price-tag-corner;
    background-color: $price-tag-background;
  }

  &::after {
    z-index: 1;
    top: 50%;
    left: -$price-tag-height / 2;
    width: $price-tag-dot-radius;
    height: $price-tag-dot-radius;
    transform: translate(-50%, -50%) translateX($price-tag-height / 2);
    border-radius: $price-tag-dot-radius / 2;
    background-color: $price-tag-dot-background;
  }

  &__main {
    font-size: 1.15em;
    font-weight: bold;

    ~ * {
      opacity: 0.85;
    }
  }

  span {
    position: relative;
    z-index: 1;
  }

  &--two-lines {
    $price-tag-side: round($price-tag-height / 1.428) * 2;
    margin-left: $price-tag-height;
    height: $price-tag-height * 2;

    &::before {
      left: -$price-tag-side / 2;
      width: $price-tag-side;
      height: $price-tag-side;
    }

    &::after {
      transform: translate(-50%, -50%) translateX($price-tag-height / 2)
        scale(2);
    }
  }

  &--one-line {
    flex-direction: row;
    align-items: center;

    span {
      &:not(:first-child) {
        &::before {
          content: ", ";
        }
      }
    }
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
